{% extends 'base.html' %}

{% block head %}
    <title>Your Favourite Bands</title>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('home_page') }}">Logout</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('process_page', idnr=idnr, target="artists") }}">Artists <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('process_page', idnr=idnr, target="suggestions") }}">Suggestions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('process_page', idnr=idnr, target="top10") }}">Last.FM Top 10</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('process_page', idnr=idnr, target="billboard") }}">Billboard Top 100</a>
                </li>
            </ul>
        </div>

    </nav>
    <div class="container text-center bg-secondary">
        <h1>These {{user_name}} are the Artists, which you like on Facebook:</h1>
        <table>
            <tr>
                <th>
                    <b>Name</b>
                </th>
                <th>
                    <b>Image</b>
                </th>
                <th>
                    <b>Last.FM Link</b>
                </th>
                <th>
                    <b>Last.FM Listeners</b>
                </th>
                <th>
                    <b>Last.FM Playcount</b>
                </th>
            </tr>
            {% for artist in artist_list %}
                <tr>
                    <th>
                        {{ artist.name }}
                    </th>
                    <th>
                        <img src="{{ artist.image }}">
                    </th>
                    <th>
                        <a href="{{ artist.lastfm_url }}" target="_blank">Last.FM</a>
                    </th>
                    <th>
                        {{ artist.lastfm_listeners }}
                    </th>
                    <th>
                       {{ artist.lastfm_playcount }}
                    </th>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}