{% extends 'BasePageView.html' %}

{% block head %}
    <title>LikeMM - Error</title>
{% endblock %}

{% block body %}
    <a class="button is-medium is-danger" href="{{ url_for('home_page')  }}">
        <span class="icon">
            <i class="fa fa-sign-out-alt"></i>
        </span>
        <span>Log Out</span>
    </a>
    <article class="media notification is-danger">
        <div class="media-content">
            <div class="content">
                <h2>Error in: {{function}}</h2>
            </div>
        </div>
    </article>
    <article class="media notification is-danger">
        <div class="media-content">
            <div class="content">
                <h2>{{error_type}}</h2>
            </div>
        </div>
    </article>
    <article class="media notification is-danger">
        <div class="media-content">
            <div class="content">
                <h2>{{error}}</h2>
            </div>
        </div>
    </article>
{% endblock %}