{% extends 'BasePageView.html' %}

{% block head %}
    <title>LikeMM - Login</title>
{% endblock %}

{% block body %}
    <section class="hero is-fullheight is-primary" >
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-4 is-offset-4">



                        <div class="box">
                            <div class="center">
                                <figure class="login-logo image is-128x128 center">
                                    <img class="center" src="../static/likemm-logo.png">
                                </figure>
                            </div>
                            <p class="title has-text-black">Welcome!</h3>
                            <p class="subtitle has-text-black">Please login to proceed.</p>
                            <a class="button is-large is-info" href="{{ facebook_login_page_link }}">
                                <span class="icon">
                                    <i class="fab fa-facebook"></i>
                                </span>
                                <span>Login with Facebook</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}