{% extends 'BasePageView.html' %}

{% block head %}
    <title>LikeMM - Music</title>
{% endblock %}

{% block body %}
    <!-- .hero -->
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column center">
                        <a class="button is-medium is-primary" href="{{ url_for('status_page', fid=fid) }}">
                            <span class="icon">
                                <i class="fa fa-home"></i>
                            </span>
                            <span>Back</span>
                        </a>
                    </div>
                    <div class="column">
                        <figure class="image center">
                            <img src="../static/likemm-logo.png" style="max-width: 160px;">
                        </figure>
                    </div>
                    <div class="column center">
                        <a class="button is-medium is-danger" href="{{ url_for('home_page') }}">
                            <span class="icon">
                                <i class="fa fa-sign-out-alt"></i>
                            </span>
                            <span>Log Out</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.hero -->

    <!-- .section -->
    <section class="section has-background-light">
        <div class="container">
            <div class="columns">
                <div class="column">
                    {% for chart in chart_list %}
                        <div class="card is-shady">
                            <header class="card-header has-background-info has-text-white">
                                <p class="card-header-title has-text-white">
                                    # {{ loop.index }} {{ chart.name }}
                                </p>
                                <p class="card-header-icon" aria-label="more options">
                            <span class="icon">
                                <i class="fa fa-trophy" aria-hidden="true"></i>
                            </span>
                                </p>
                            </header>
                            <div class="card-image ">
                                <figure class="image is-3by4"> <!-- <figure class="image is-128x128">-->
                                    <img src=" {{ chart.spotify_image }}" alt="{{ chart.name }}">
                                </figure>
                            </div>
                            <div class="card-content has-text-centered">
                                <div class="content">
                                    <b>By: {{ chart.artist }}</b>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="column">
                    {% if tag_list|length %}
                        <article class="media notification is-primary">
                            <figure class="media-left">
                                <span class="icon">
                                    <i class="fa fa-heart"></i>
                                </span>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p class="is-size-4">
                                        Your favourites genres are the following:
                                    </p>
                                </div>
                            </div>
                        </article>
                        {% for tag in tag_list %}
                            <article class="media notification is-primary">
                                <div class="media-content">
                                    <div class="content has-text-centered">
                                        <h2 class="title is-size-4">{{ tag }}</h2>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                    {% else %}
                        <article class="media notification is-danger">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        Error: Couldn't find any music genres. <br>
                                        You should like some artists in Facebook.
                                    </p>
                                </div>
                            </div>
                        </article>
                    {% endif %}
                </div>
                <div class="column">
                    {% if rec_list|length %}
                        <p>Hey</p>
                        {% for rec in rec_list %}
                            <article class="media notification is-warning">
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>{{ rec.name }}</strong> <small>with {{ rec.lastfm_listeners }} listeners</small>
                                        </p>
                                        <p>
                                            <strong><a href="{{ rec.spotify_url }}" target="_blank">Spotify:</a></strong>
                                            <br/>
                                            <small>Popularity: {{ rec.spotify_popularity }}</small>
                                            <br/>
                                            <small><a href="{{ rec.spotify_uri }}" target="_blank">Listen now</a>
                                            </small>
                                        </p>
                                    </div>
                                </div>
                                <figure class="media-right">
                                    <p class="image is-128x128">
                                        <img src="{{ rec.spotify_image }}" alt="{{ rec.name }}">
                                    </p>
                                </figure>
                            </article>
                        {% endfor %}
                    {% else %}
                        <article class="media notification is-danger">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        Error: Couldn't find any recommendations. <br>
                                        You might need to like more artist on Facebook.
                                    </p>
                                </div>
                            </div>
                        </article>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- /.section -->
{% endblock %}
