{% extends 'BasePageView.html' %}

{% block head %}
<title>Status</title>
{% endblock %}

{% block body %}

    <!--<editor-fold desc="Nav Bar">-->
    <nav class="navbar navbar-dark bg-dark">
        <div class="text-center">
            <a class="navbar-brand" href="#">
                <img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            </a>
        </div>
    </nav>
    <!--</editor-fold>-->

    <!--<editor-fold desc="Body">-->
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>Your Artists</h1>
                <table>
                    <tr>
                        <th>
                            <b>Name</b>
                        </th>
                    </tr>
                    {% for artist in artist_list %}
                        <tr>
                            <th>
                                {{ artist.name }}
                            </th>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-sm">
                <h1>Your Profile</h1>
                <table>
                    <tr>
                        <th>
                            <b>Name: {{ user.name }}</b>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <b>E-Mail: {{ user.email }}</b>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <img src={{ user.picture }}>
                        </th>
                    </tr>
                    {% for movie in movie_list %}
                        <tr>
                            <th>
                                {{ movie.name }}
                            </th>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-sm">
                <h1>Your Movies</h1>
                <table>
                    <tr>
                        <th>
                            <b>Name</b>
                        </th>
                    </tr>
                    {% for movie in movie_list %}
                        <tr>
                            <th>
                                {{ movie.name }}
                            </th>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <!--</editor-fold>-->
{% endblock %}