{% extends 'BasePageView.html' %}

{% block head %}
    <title>LikeMM - Dashboard</title>
    <script defer src="../static/updateStatus.js"></script>
    <script>
        fid = {{ fid }}
    </script>
{% endblock %}

{% block body %}
    <!-- .hero -->
    <section class="hero">
			<div class="hero-body">
				<div class="container">
                    <div class="columns">
                        <div class="column center">
                            <a class="button is-medium is-info" href="{{ url_for('music_page' , fid=fid ) }}">
                                <span class="icon">
                                    <i class="fa fa-music"></i>
                                </span>
                                <span>Music</span>
                            </a>
                            <a class="button is-medium is-warning" style="margin-left: 5px" href="{{ url_for('movie_page', fid=fid) }}">
                                <span class="icon">
                                    <i class="fa fa-video"></i>
                                </span>
                                <span>Movies</span>
                            </a>
                        </div>
                        <div class="column">
                            <figure class="image center">
                                <img src="../static/likemm-logo.png" style="max-width: 160px;">
                            </figure>
                        </div>
                        <div class="column center">
                            <a class="button is-medium is-danger" href="{{ url_for('home_page')  }}">
                                <span class="icon">
                                    <i class="fa fa-sign-out-alt"></i>
                                </span>
                                <span>Log Out</span>
                            </a>
                        </div>
                    </div>
				</div>
			</div>
		</section>
        <!-- /.hero -->

        <!-- .section -->
		<section class="section has-background-light">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <article class="media notification is-info">
							<figure class="media-left">
								<span class="icon is-medium">
									<i class="fa fa-2x fa-headphones"></i>
								</span>
							</figure>
							<div class="media-content">
								<div class="content">
									<h1 class="title is-size-4">Your Artists</h1>
									<p class="is-size-5">
										Here you can see your liked artists. <br>
										<span class="emoticon">ᕕ( ᐛ )ᕗ</span>
									</p>
								</div>
                            </div>
                        </article>
                        {% for artist in artistList %}
                            <article class="media notification is-info">
                                <figure class="media-left">
                                  <p class="image is-128x128">
                                    <img src="{{ artist.spotify_image }}" alt="{{artist.name}}">
                                  </p>
                                  <br>
                                  <span class="icon">
                                    <i class="fab fa-spotify"></i>
                                </span>
                                <span><a href="{{artist.spotify_url }}">Listen now</a></span>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>Name:</strong> <small>{{ artist.name }}</small>
                                        </p>
                                        <p>
                                            <strong><a href="{{ artist.lastfm_url }}" target="_blank">LastFM:</a></strong>
                                            <br/>
                                            <small>Listeners: {{ artist.lastfm_listeners }}</small>
                                            <br/>
                                            <small>Playcount: {{ artist.lastfm_playcount }}</small>
                                        </p>
                                        <p>
                                            <strong><a href="{{ artist.spotify_url }}" target="_blank">Spotify:</a></strong>
                                            <br/>
                                            <small>Popularity: {{ artist.spotify_popularity }}</small>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                    <div class="column">
						<article class="notification is-primary has-text-centered">
                            <div class="profile-image center">
                                <figure class="center image avatar is-128x128">
                                    <img class="is-rounded" src="{{ userPicture }}" alt="User FB Logo">
                                </figure>
                            </div>
                            <br>
                            <div class="profile-content">
                                <h1 class="title is-size-4 has">Welcome {{ userName }}</h1>
                                <p class="is-size-5">
                                    <span class="icon is-medium">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                    <span>{{ userEmail }}</span>
                                </p>
                                <p class="is-size-5">
                                    Have fun using our app! <br>
                                    <span class="emoticon">⦤(^ー^)⦥</span>
                                </p>
                            </div>
                            <div class="box has-background-light" style="margin-top: 10px;">
                                <div class="loader-wrapper">
                                    <div class="loader is-loading"></div>
                                </div>
                                <div class="has-text-centered">
                                    <a class="button updateButton is-medium is-primary">
                                        <span class="icon">
                                            <i class="fa fa-sync"></i>
                                        </span>
                                        <span>Update Data</span>
                                    </a>
                            </div>
						</article>
					</div>
					<div class="column">
						<article class="media notification is-warning">
							<figure class="media-left">
								<span class="icon is-medium">
									<i class="fas fa-2x fa-film"></i>
								</span>
							</figure>
							<div class="media-content">
								<div class="content">
									<h1 class="title is-size-4">Your Movies</h1>
									<p class="is-size-5">
										Here you can see your liked movies. <br>
										<span class="emoticon">٩(^ᴗ^)۶</span>
									</p>
								</div>
							</div>
                        </article>
                        {% for movie in movieList %}
                            <article class="media notification is-warning">

                                <div class="media-content">
                                    <div class="content">
                                        <b class="is-big">Title: {{ movie.title }}</b>
                                        <figure class="media">
                                            <p class="image">
                                              <img src="{{ movie.themoviedb_backdrop_path }}" alt="{{ movie.title}}">
                                            </p>
                                        </figure>
                                    </div>
                                        <div class="content">
                                            <div class="columns">
                                                <div class="column">
                                                    <strong><a href="{{ movie.themoviedb_url }}" target="_blank">The Movie DB:</a></strong>
                                                    <br/>
                                                    <small>Budget: {{ movie.themoviedb_budget }}</small>
                                                    <br/>
                                                    <small>Popularity: {{ movie.themoviedb_popularity}}</small>
                                                    <br/>
                                                    <small>Release Date: {{ movie.themoviedb_release_date }}</small>
                                                    <br/>
                                                    <small>Revenue: {{ movie.themoviedb_revenue }}</small>
                                                    <br/>
                                                    <small>Runtime: {{ movie.themoviedb_runtime }}</small>
                                                    <br/>
                                                    <small>Status: {{ movie.themoviedb_status }}</small>
                                                    <br/>
                                                    <small>Vote Average: {{ movie.themoviedb_vote_average }}</small>
                                                </div>
                                                <div class="column">
                                                    <strong><a href="{{ movie.omdb_url }}" target="_blank">OMDB:</a></strong>
                                                    <br/>
                                                    <small>Rating: {{ movie.omdb_imdb_rating }}</small>
                                                    <br/>
                                                    <small>Votes: {{ movie.omdb_imdb_votes}}</small>
                                                    <br/>
                                                    <small>Metascore: {{ movie.omdb_metascore }}</small>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </article>
                        {% endfor %}
					</div>
                </div>
            </div>
		</section>
        <!-- /.section -->
{% endblock %}